.wrapper
{
	margin:auto;
	width: 1280px;
	height:2000px;
	background-color: white;
}
header
{
	margin-bottom: 10px;
	width:100%;
	height:150px;
	background-color: green;
}
nav
{
	margin-bottom: 10px;
	width:100%;
	height:60px;
	background-color: black;
}
section
{
	float: left;
	width:960px;
	height:300px;
	background-color: gray;
	margin-bottom: 10px;
}
aside
{
	margin-left: 10px;
	float: right;
	width:310px;
	height:300px;
	
	background-color:orange;

}

footer
{
	
	clear: both;
	width:100%;
	height:300px;
	background-color: yellow;
}
